<!DOCTYPE html>
<html>
  <head>
    <title>MiddleAgeDisorder</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <div align='center'>
      <%= link_to root_path do %>
        <%= image_tag 'MMlogo.jpg', width: 136, height: 67, alt: 'Middle Age Disorder' %>
      <% end %>
      <h1>Middle Age Disorder</h1>
    </div>
    
    <% if user_signed_in? %>
      <div align='left'>
        <p><h3>Ah ! Duke <%= current_user.username  %> vous avez fait bon voyage ?<h3></p>
      </div>
      
      <div align='right'>
        <p><%= link_to('DECONNECTION', destroy_user_session_path, :method => :delete, class: "btn btn-primary btn-lg Bouton_Creer") %></p>
        <% if current_user.admin? %>
          <p><%= link_to('BACK OFFICE', leskibrillesfontdingdings_root_path, class: "btn btn-primary btn-lg Bouton_Creer") %></p>
        <% end %>
      </div>
      
      <%= render 'layouts/messages' %>
      
      <div class='bottom'>
        <table style='border: 1px solid black;'>
          <tr>
	          <td style='border: 1px solid black;'><%= link_to('Gérer Deck', decks_path, class: "btn btn-primary btn-lg Bouton_Creer") %></td>
		        <td style='border: 1px solid black;'><%= link_to('Bibliothèque', library_path, class: "btn btn-primary btn-lg Bouton_Creer") %></td>
		        <!--td style='border: 1px solid black;'><!%= link_to('Créer une partie', create_game_path, class: "btn btn-primary btn-lg Bouton_Creer") %></td>
	          <td style='border: 1px solid black;'><!%= link_to('Rejoindre une partie', join_game_path, class: "btn btn-primary btn-lg Bouton_Creer") %></td-->
	        </tr>
        </table>
      </div>
    <% else %>
      <%= render 'layouts/messages' %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
  
  <footer>
    <div align='center'>
      <h1>Envoyez vos dons à mon PAYPAL mimoun1309@gmail.com</h1>
    </div>
  </footer>
</html>

<!--%= debug(params) %-->